<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twb.itemrecommender">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SmartToursApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".feature.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".feature.entrypoint.EntrypointActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.recommendation.RecommendationActivity"
            android:label="@string/title_activity_recommendation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.mypurchases.PurchaseListActivity"
            android:label="@string/title_purchase_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.mypurchases.PurchaseDetailActivity"
            android:label="@string/title_purchase_detail"
            android:parentActivityName=".feature.mypurchases.PurchaseListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.mypurchases.PurchaseListActivity" />
        </activity>
        <activity
            android:name=".feature.product.ProductListActivity"
            android:label="@string/title_product_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.product.ProductDetailActivity"
            android:label="@string/title_product_detail"
            android:parentActivityName=".feature.product.ProductListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.product.ProductListActivity" />
        </activity>
        <activity
            android:name=".feature.login.LoginActivity"
            android:label="@string/app_name" />
    </application>

</manifest>